################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenIDConnect.Federation.DynamicDiscovery/obj
/OpenIDConnect.Federation.DynamicDiscovery/bin
/.vs/OpenIDConnect.Federation
